@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p id="AboutPage">CodeTogetherNG is a project that connects programers who want to learn how to develop applications in teams.</p>
<p >The project consists five applications
    <ul>
        <li>Main Application. It is a web application written in following technologies: C#, ASP.NET MVC, .NET Core 2.1, Nunit, FakeItEasy(tool to fake/stab/mock dependencies), Dapper(micro ORM), Bootstrap, HTML, CSS.<br /> The repository is located on GitHub <a href="https://github.com/pisanina/CodeTogetherNG">CodeTogetherNG</a></li>
        <li>E2E Tests. Tests writen in C#, Selenium WebDriver, Nunit, TSQL, Chromium Driver, PageObject Pattern.<br /> The repository is located on GitHub <a href="https://github.com/pisanina/CodeTogetherNGE2E_Tests">CodeTogetherNG_Tests</a></li>
        <li>SQL Server DataBase Project. It is used to track data base schema changes. It uses TSQL and DacPac.<br /> The repository is located on GitHub <a href="https://github.com/pisanina/CodeTogetherNG_DB">CodeTogetherNG_DB</a></li>
        <li>WebAPI. In this project I use Entity Framework Core, ASP.NET WebAPI Core.<br /> The repository is located on GitHub <a href="https://github.com/pisanina/CodeTogetherNG_WebAPI">CodeTogetherNG_WebAPI</a></li>
        <li>WebAPI Tests. HTTP Client.<br /> The repository is located on GitHub <a href="https://github.com/pisanina/CodeTogetherNG_WebAPI_Tests">CodeTogetherNG_WebAPI_Tests</a></li>
        </ul></p>
<p>Azure DevOps is used as a tool to manage the project. It contains a kanban task board and pipelines: <a href="https://dev.azure.com/DanielZProjects/CodeTogetherNG">Azure DevOps</a></p>
<p>
    The application and database are already released on Azure. I try to follow Continuous Deployment principle and it can be found with following links  
    <ul>
        <li>  <a href="https://codetogetherng-test.azurewebsites.net">Test Environment</a></li>
        <li><a href="https://codetogetherng.azurewebsites.net">Live Environment</a></li>
        <li><a href="https://codetogetherng-webapi-test.azurewebsites.net/api/projects">Test Environment for WebAPI</a></li>
        <li> <a href="https://codetogetherng-webapi.azurewebsites.net/api/projects">Live Environment for WebAPI</a></li>
        </ul>
</p>