@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>




<address>
    <strong>Wannabe a developer</strong> <a href="mailto:code4dan@gmail.com">code4dan@gmail.com</a><br />
    
</address>
