@{
    ViewData["Title"] = "Home Page";
}

<h1>
    <p>This side is under construction.</p>
</h1>
<h3>
<p>
    If you want to track our progress please follow our
    <a href="https://dev.azure.com/DanielZProjects/_git/CodeTogetherNG">Azure devops account</a>
</p>

 </h3>
