@model IEnumerable<CodeTogetherNG.Models.ProjectsGridViewModel>

@{
    ViewData["Title"] = "ProjectsGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="ProjectGridPage">ProjectsGrid</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <form asp-controller="Home" asp-action="ProjectGrid">
            <p>
                Search: <input type="text" name="Search" Id="SearchInput">
                <input type="submit" value="Search" Id="SearchButton" />
            </p>
        </form>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.Title </td>
                <td> @item.Description </td>
            </tr>
        }
    </tbody>
</table>