@model IEnumerable<string>
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>

<table class="table-bordered table-striped table" id="UsersList" style="font-size: 14px;">
    <thead>
        <tr>
            <th>User Name</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><li id="User_@item"><a asp-area="" asp-controller="Member" 
                        asp-action="ShowUserProfile" asp-route-userName="@item">@item</a></li>
            </td>
            </tr>
        }
    </tbody>
    </table>