@model IEnumerable<CodeTogetherNG.Models.ProjectsGridViewModel>

@{
    ViewData["Title"] = "ProjectsGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="ProjectGridPage">ProjectsGrid</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>

    <form asp-controller="Project" asp-action="ProjectGrid" method="get">
        <p>
            <input type="text" name="Search" Id="SearchInput" placeholder="Search">
            <button class="btn btn-default btn-sm" type="submit" class="btn btn-default" aria-label="Left Align" id="SearchButton">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </p>
    </form>
    <tr>
        <th style="text-align:center">Details</th>
        <th>Title</th>
        <th>Description</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:center">
                <a asp-controller="Project"
                   asp-action="ProjectDetails"
                   asp-route-id="@item.ID">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </a>
            </td>
            <td> @item.Title </td>
            <td> @item.Description </td>
        </tr>
    }
</table>