@model IEnumerable<CodeTogetherNG.Models.ProjectsGridViewModel>

@{
    ViewData["Title"] = "ProjectsGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="ProjectGridPage">Projects list</h2>
<hr/>

<style>
    input { max-width: 40% }
</style>

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
@if (Model.Count() > 0)
{

    <form asp-controller="Project" asp-action="ProjectGrid" method="get">
        <p>
            <input class ="form-control" type="text" name="Search" Id="SearchInput" placeholder="Search" autofocus>
            <button class="btn btn-default btn-sm" type="submit" aria-label="Left Align" id="SearchButton">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </p>
    </form>
    <tr>
        <th style="text-align:center">Details</th>
        <th>Title</th>
        <th>Description</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:center">
                <a asp-controller="Project"
                   asp-action="ProjectDetails"
                   asp-route-id="@item.ID">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </a>
            </td>
            <td> @item.Title </td>
            <td> @item.Description </td>
        </tr>
    }
}
else
    {
        <div class="jumbotron" align="center">
            <h1>Sorry, there is no match.<br>
               <a class="btn btn-primary btn-lg" asp-controller="Project" 
                asp-action="ProjectsGrid" role="button">Please try again.</a>
            </h1>
        </div>
    }
</table>