@model CodeTogetherNG.Models.ProjectDetailsViewModel

@{
    ViewData["Title"] = "ProjectDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="ProjectDetailsPage">Project Details</h2>


<style>
    input, select, textarea {
        max-width: 50%;
    }
</style>

<div class="form-group">
    <label asp-for="Title" class="control-label"></label>
    <input asp-for="Title" class="form-control" id="Title" ReadOnly="true" />
</div>
<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <textarea asp-for="Description" class="form-control" id="Description" ReadOnly="true"></textarea>
</div>
<div class="form-group">
    <label asp-for="CreationDate" class="control-label"></label>
    <input asp-for="CreationDate" class="form-control" id="CreationDate" ReadOnly="true" />
</div>
